{
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-textColor: white;
}
.root{
   -fx-background-color: -fx-primary;
}
.labelTextColor{
    -fx-text-fill: -fx-textColor;
}
.textField{
     -fx-background-color: gray ;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 18px;
    -fx-padding: 10px 38px;
    /*-fx-font-family: Verdana, Arial, Helvetica, sans-serif;*/
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-weight: bold;
   -fx-cursor: hand;
}
.descriptionTA {
    -fx-background-insets: 0;
    -fx-text-fill: white;
     -fx-font-size: 18px;
    -fx-cursor: hand;
}
.descriptionTA .content {
    -fx-background-color: -fx-primary;
     -fx-cursor: hand;

}
.descriptionTA:focused .content {
    -fx-background-color: gray;
     -fx-cursor: pointer;
}

.descriptionTA:focused {
    -fx-highlight-fill: blue;
     -fx-cursor: pointer;
}
.descriptionTA .content {
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-highlight-fill: blue;
     -fx-cursor: pointer;
}
.button{
       -fx-text-fill: white;
       -fx-background-color: gray;
       /*-fx-border-color: -fx-secondary;*/
       -fx-border-radius: 20px;
       -fx-background-radius: 20px;
       -fx-padding: 10px 20px;
       -fx-font-size: 14px;
       -fx-font-weight: bold;
       -fx-cursor: hand;
}
.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: #fcfc4e;
    -fx-text-fill: -fx-primary;
}
.button:pressed{
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.desLabel{
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
.label2{
    -fx-border-color: lightgray;
    -fx-border-width: 2;
}
